PascualJEx14/src/main/resources/files/myday.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   targetNamespace="http://www.fujitsu.org/myday"
		   xmlns:tns="http://www.fujitsu.org/myday"
		   elementFormDefault="qualified">

	<!-- date: (day, month, year?)-->
	<xs:element name="date">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:day"/>
				<xs:element ref="tns:month"/>
				<xs:element ref="tns:year" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="day"   type="xs:string"/>
	<xs:element name="month" type="xs:string"/>
	<xs:element name="year"  type="xs:string"/>

	<!-- a (date*) -->
	<xs:element name="a">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:date" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- b (#PCDATA) -->
	<xs:element name="b" type="xs:string"/>

	<!-- c: (b+ | (b?,a)*)
	     (b+) one or more b elements daw
	     (b?,a)*) = zero or more sequences of optional b tapos required a -->
	<xs:element name="c">
		<xs:complexType>
			<xs:choice>
				<xs:sequence>
					<xs:element ref="tns:b" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="tns:b" minOccurs="0"/>
					<xs:element ref="tns:a"/>
				</xs:sequence>
			</xs:choice>
		</xs:complexType>
	</xs:element>

</xs:schema>