PalancaJEx14/src/main/resources/itemb/myday.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.fetp.org/myday"
	xmlns:tns="http://www.fetp.org/myday"
	elementFormDefault="qualified">

	<xs:element name="date">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="day"   type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="month" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="year"  type="xs:string" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="a">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="day"   type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="month" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="year"  type="xs:string" minOccurs="0" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="b" type="xs:string"/>

	<xs:element name="c">
		<xs:complexType>
			<xs:choice>

				<xs:sequence>
					<xs:element name="b" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>

				<xs:sequence minOccurs="0" maxOccurs="unbounded">
					<xs:choice>
						<xs:sequence>
							<xs:element name="b" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="a" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="day"   type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="month" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="year"  type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:element name="a" minOccurs="1" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="date" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="day"   type="xs:string" minOccurs="1" maxOccurs="1"/>
												<xs:element name="month" type="xs:string" minOccurs="1" maxOccurs="1"/>
												<xs:element name="year"  type="xs:string" minOccurs="0" maxOccurs="1"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:sequence>

			</xs:choice>
		</xs:complexType>
	</xs:element>

</xs:schema>
