JacoJEx14/src/main/resources/files/library.dtd

<!ELEMENT library (book | journal | misc)*>

<!ELEMENT book (title, editor?, publisher?)>
<!ATTLIST book id CDATA #REQUIRED>

<!ELEMENT journal (title, volume?)>
<!ATTLIST journal
    id        CDATA #REQUIRED
    publ_year CDATA #IMPLIED>

<!ELEMENT misc (title, author*, year?, pages?)>
<!ATTLIST misc id CDATA #REQUIRED>

<!ELEMENT title     (#PCDATA)>
<!ELEMENT editor    (#PCDATA)>
<!ELEMENT publisher (#PCDATA)>
<!ELEMENT volume    (#PCDATA)>
<!ELEMENT author    (#PCDATA)>
<!ELEMENT year      (#PCDATA)>
<!ELEMENT pages     (#PCDATA)>